#XfceNotifyWindow {
	background-color: #111111;
	border-color: #1e1e1e;
	border-radius: 2px;
	border-width: 1px;
}

#XfceNotifyWindow:hover {
	border-color: #1e1e1e;
}

#XfceNotifyWindow label {
	color: #ffffff;
	-GtkWidget-link-color: #1793d1;
}

#XfceNotifyWindow label#summary {
	font-weight: bold;
}

#XfceNotifyWindow button {
	background-color: #1e1e1e;
	color: #eeeeee;
}

#XfceNotifyWindow button:hover {
	background-color: #555555;
}

#XfceNotifyWindow button:active {
	background-color: #1e1e1e;
}

/* TODO: Implement progressbar style */
