/** Tomorrow Night Global theme https://github.com/chriskempson/vim-tomorrow-theme adapted from Solarized Dark Everywhere.
 *
 *  thttps://userstyles.org/styles/118481/tomorrow-night-global
 *  by Hafiz Shafruddin @ gmhafiz
 *  update 2015 Sep 16
 *
*/

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("https?://(?!(docs.google.com|www.google.com/calendar)).*"), url-prefix(ftp://), url-prefix(file://), url-prefix(about:), url-prefix(javascript), url(about:blank), url-prefix("about:neterror")
{
 

/* Firefox Scrollbars */
  scrollbar
  {
    opacity: .75 !important;
  }

/* tomorrow night
" Default GUI Colours
let s:foreground = "c5c8c6"
let s:background = "1d1f21"
let s:selection = "373b41"
let s:line = "282a2e"
let s:comment = "969896"
let s:red = "cc6666"
let s:orange = "de935f"
let s:yellow = "f0c674"
let s:green = "b5bd68"
let s:aqua = "8abeb7"
let s:blue = "81a2be"
let s:purple = "b294bb"
let s:window = "4d5057"

" Console 256 Colours
if !has("gui_running")
let s:background = "303030"
let s:window = "5e5e5e"
let s:line = "3a3a3a"
let s:selection = "585858"
end
*/

/* Base */
  *, ::before, ::after
  {
    color: #c5c8c6 !important;
    border-color: #8abeb7 !important;
    outline-color: #8abeb7 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    background-color: transparent !important;
/* background-color: #2d2d2d !important; For tommorw night eighties. A not too dark background color*/;
  }

  html *
  {
    color: inherit !important;
  }

  p::first-letter,
h1::first-letter,
h2::first-letter,
p::first-line
  {
    color: inherit !important;
    background: none !important;
  }

/* :: Give solid BG :: */

/* element */
  b,i,u,strong
  {
    color: #282a2e;
  }

  html,
body,
li ul,
ul li,
table,
header,
article,
section,
nav,
menu,
aside,


/* common */

[class*="nav"],
[class*="comment"],
[class*="open"],
[id*="ropdown"], /*dropdown*/
[class*="ropdown"],
div[class*="menu"],
[class*="tooltip"],
div[class*="popup"],
div[id*="popup"],

/* Notes, details, etc.  Maybe useful */
div[id*="detail"],div[class*="detail"],
div[class*="note"], span[class*="note"],
div[class*="description"],

/* Also common */
div[class*="content"], div[class*="container"],

/* Popup divs that use visibility: hidden and display: none */
div[style*="display: block"],
div[style*="visibility: visible"]
  {
    background-color: #1d1f21 !important;
  }

/*: No BG :*/
  *:not(:empty):not(span):not([class="html5-volume-slider html5-draggable"]):not([class="html5-player-chrome html5-stop-propagation"]), *::before, *::after,
td:empty, p:empty, div:empty:not([role]):not([style*="flashblock"]):not([class^="html5"]):not([class*="noscriptPlaceholder"])
  {
    background-image: none !important;
  }

/*: Filter non-icons :*/
  span:not(:empty):not([class*="icon"]):not([id*="icon"]):not([class*="star"]):not([id*="star"]):not([id*="rating"]):not([class*="rating"]):not([class*="prite"])
  {
    background-image: none !important;
    text-indent: 0 !important;
  }

/*: Image opacity :*/
  img, svg
  {
    opacity: .75 !important;
  }

  img:hover, svg:hover
  {
    opacity: 1 !important;
  }

/* Highlight */
  ::-moz-selection
  {
    background-color: #373b41 !important;
    color: #c5c8c6 !important;
  }

/* ::: anchor/links ::: */

  a
  {
    color: #f0c674 !important;
    background-color: #1d1f21 !important;
    opacity: 1 !important;
    text-indent: 0 !important;
  }

  a:link
  {
    color: #f0c674 !important;
  } /* hyperlink */
  a:visited
  {
    color: #de935f !important;
  }

  a:hover
  {
    color: #cc6666 !important;
    background-color: #1d1f21 !important;
  }

  a:active
  {
    color: #cc5555 !important;
  }

/* "Top level" div */

  body > div
  {
    background-color: inherit !important;
  }

/* :::::: Text Presentation :::::: */

  summary, details
  {
    background-color: inherit !important;
  }

  kbd, time, label, .date
  {
    color: #b5bd68 !important;
  }

  acronym, abbr
  {
    border-bottom: 1px dotted !important;
    cursor: help !important;
  }

  mark,code,pre,samp,blockquote
  {
    background-color: #303030 !important;
    font-family: "DejaVu Sans Mono",monospace !important;
  }


/* :::::: Headings :::::: */

  h1,h2,h3,h4,h5,h6
  {
    background-image: none !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    text-indent: 0 !important;
  }

  h1,h2,h3,h4,h5,h6
  {
    background-color: #1d1f21 !important;
  }

  h1,h2
  {
    color: #b294bb!important;
  }

  h3,h4
  {
    color: #cc6666!important;
  }

  h5,h6
  {
    color: #8abeb7!important;
  }

/* :::::: Tables, cells :::::: */

  table table
  {
    background: #1d1f21 !important;
  }

  th, caption
  {
    background: #1d1f21 !important;
  }

/* ::: Inputs, textareas ::: */

  input, textarea, button,
select,option,optgroup
  {
    color: #c5c8c6 !important;
    background: none #303030 !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
  }

  input,
textarea,
button
  {
    border-color: #8abeb7 !important;
    border-width: 1px !important;
  }

/* :::::: Button styling :::::: */

  input[type="button"],
input[type="submit"],
input[type="reset"],
button
  {
    background: #303030 !important;
  }

  input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover
  {
    color: #c5c8c6 !important;
    background: #373b41 !important;
  }

  input[type="image"]
  {
    opacity: .85 !important;
  }

  input[type="image"]:hover
  {
    opacity: .95 !important;
  }

/* Lightbox fix */
  html [id*="lightbox"] *
  {
    background-color: transparent !important;
  }

  html [id*="lightbox"] img
  {
    opacity: 1 !important;
  }

/* Youtube Annotation */
  #movie_player-html5 .annotation
  {
    background: #1d1f21 !important;
  }

/* Mozilla addons shrink/expand sections */
  .expando a
  {
    background: none transparent  !important;
  }
}

@-moz-document url(about:newtab)
{

  window
  {
    background: #1d1f21 !important;
  }

  #newtab-scrollbox
  {
    background: transparent none !important;
  }

  .newtab-title
  {
    background-color: rgba(0,43,54,1) !important;
    color: #c5c8c6 !important;
  }
}

@-moz-document url(chrome://browser/content/browser.xul)
{

/* Browser Background */
  browser[type="content-primary"]
  {
    background-color: #1d1f21 !important;
  }
}

/*** Specific Website Idiosyncrasies ***/

/* Fix Github dark description detail */
.text-gray-dark
{
  color: #c5c8c6 !important;
}
