/* ======================================
 * ! Slider
 * ====================================== */
.slider {
    min-height: 16px;
    -slider-height: 2px;
    -slider-background-color: rgba(#35404b, .8);
    -slider-border-color: rgba(0, 0, 0, 0);
    -slider-active-background-color: $accent-primary;
    -slider-active-border-color: $accent-primary;
    -slider-border-width: 0;
    -slider-handle-radius: 0;
    border-image: url("img/controls/slider.svg") 9 6 8 8;
}
